body {
  margin: 10px;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0);
  height: 100vh;
}
.toast {
  position: fixed;
  top: 20px;
  left: 0;
  right: auto;
  text-align: center;
}
.card {
  margin-bottom: 20px;
  border: none;
}
.box {
  width: 320px;
  height: 470px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}

.cardHeader {
  margin: 20px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 50px;
}

.box p {
  margin: 0;
  padding: 0;
}

.box input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1rem;
}

.mainButton {
  border: none;
  outline: none;
  height: 40px;
  background: tomato;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
  margin: 10px 0;
}

.chatroom button:hover,
.chatroomAction button:hover,
.mainButton:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.chatroom {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.chatroom button {
  border: none;
  outline: none;
  background: tomato;
  color: #fff;
  border-radius: 10px;
}

/* Chatroom */
.chatroomBox {
  position: absolute;
  width: 55%;
  min-width: 450px;
  height: 90%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}

.chatroomAction {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: -67%;
}

.chatroomAction input {
  display: inline;
  border: none;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  /* outline: none; */
  height: 40px;
  width: 100%;
  color: #fff;
  text-indent: 10px;
  font-size: 1rem;
}

.chatroomAction button {
  border: none;
  outline: none;
  height: 40px;
  background: tomato;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 130px;
  margin-left: 20px;
}

.ownMessage {
  color: tomato;
}
